//COLORS
$grey-1: #f2f2f2;
$brown-1: #f2c894;
$brown-2: #d98841;
$brown-3: #a64f03;
$brown-4: #8c4c27;
$white: white;
$black: black;

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Roboto:wght@300&display=swap');

$ff-cinzel: 'Cinzel', serif;
$ff-roboto: 'Roboto', sans-serif;

//TEXT SIZE
$text-sm: 1.5rem;
$text-md: 1.7rem;
$text-lg: 2rem;

// PRINCIPAL TITLE SIZE
$title1-sm: 2.3rem;
$title1-md: 4rem;
$title1-lg: 5rem;

//SECONDARY TITLE SIZE
$title2-sm: 2rem;
$title2-md: 2.5rem;
$title2-lg: 3rem;

//TERTIARY TITLE SIZE
$title3-sm: 1.7rem;
$title3-md: 2.3rem;
$title3-lg: 2.6rem;